/*repetidos*/
.plami,
.plamim {
    height: 1.5rem;
    width: 1.5rem;
}

.t-plam,
.t-plaml {
    color: #111111;
}

/*texto*/
.t-plam {}

.t-plaml {
    font-size: 0.75rem;
    padding-top: 0.7rem;
    page-break-after: 0.7rem
}

.t-1,
.t-1-1 {
    font-size: 0.8rem;
}

.t-2 {
    font-size: 1.25rem;
}

.t-3 {
    font-size: 1.35rem;
}

/*contenedor*/
.c-plam {
  
    padding: 1.5rem;
    border: 1px solid var(--primaryColorPromo, #fff);
    border-radius: 24px;
}

.plama {
    text-align: center;
    padding: 0.7rem;
    background-color: #0ae98a !important;
    border: solid #05a460 !important;
    border-radius: 0.7rem;
}
.borde-naranja{
    border:1px solid #FF500B;
}

.plaman {
    border-radius: 0.7rem;
    background-color: hsla(0, 0%, 100%, .05);
    padding: 0.5rem;
    margin: 1rem 0 1rem;
}

.m1 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.m2 {
    margin-top: 1.5rem;
}

/*icono*/
.plami {
    color: #00D680;
    padding-right: 0.4rem;
    font-size: 17px;
}

/*imagen*/
.plamim {
    border-radius: 1.5rem;
}